
.dashboard__main {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px 32px;
    padding: 32px;
    width: 80%; 

    @include media-query(1050px) {
       grid-template-columns: 1fr;
      
    }
    @include media-query(650px){
        width: 100%;
    }

}


.dashboard__searchbar {
    position: relative;
    width: 100%;
    border-radius: 100px;
    &-input {
        width: 100%;
        height: 100%;
        padding: 20px 0 20px 46px;
        outline: none;
        font-size: $font-size-md;
        border: none;
        border-radius: 100px;
    
        @include media-query(800px) {
            padding: 15px 0 15px 38px;
        }
    
        &::placeholder {
            font-size: $font-size-sm;
    
            @include media-query(800px) {
                font-size: $font-size-xs;
            }
        }
    }
}


.searchbar__icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    @include media-query(800px) {
        width: 10px;
        height: 10px;
    }


}

.actions {
    @include flex($col-gap: 10px);
    @include box(#FFFFFF, 8px, 100px);

    @include media-query(1120px) {
        @include box(#FFFFFF, 3px, 100px);
    }

    @include media-query(780px) {
        column-gap: 5px;
    }

    @include media-query(1050px) {
        padding: 10px 0;
        order: -1;
        background-color: transparent;
        justify-content: end;
        column-gap: 10px;
    }

    &__icon {
        img {
            height: 24px;
            width: 24px;

            @include media-query(996px) {
                height: 20px;
                width: 20px;
            }

            @include media-query(780px) {
                height: 16px;
                width: 16px;
            }
        }

        &--alerts {
            @include box(none, 12px 21px);
            border: 1px solid #DEDEDE;
            @include flex();

            @include media-query(996px) {
                @include box(none, 8px 15px);
            }

            @include media-query(780px) {
                @include box(none, 6px 12px)
            }
        }


        &--active {
            @include flex();
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            height: 48px;
            width: 48px;
            outline: 1px solid #DEDEDE;
            outline-offset: 1px;

            @include media-query(996px) {
                height: 34px;
                width: 34px;
            }

            @include media-query(780px) {
                height: 28px;
                width: 28px;
            }
        }

        &-toggle {
            @include flex(flex-end);

            img {
                width: 24px;
                height: 24px;

                @include media-query(996px) {
                    height: 20px;
                    width: 20px;
                }

                @include media-query(780px) {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    &__user {

        font-size: $font-size-md;

        @include media-query(780px) {
            font-size: $font-size-sm;
        }
    }


}

// finance report

.finance {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 14px;

    @include media-query(780px) {
        padding: 11px;
    }

    h3 {
        @include text-style($font-size-xl, $font-weight-extrabold, $text-color-dark);
        letter-spacing: -1px;

        @include media-query(780px) {
            font-size: $font-size-lg ;
        }
    }

    &__report-wrapper {

        display: grid;
        grid-template-columns: auto auto;
        gap: 18px;
        margin-top: 24px;

        @include media-query(780px) {
            margin-top: 16px;
            gap: 12px;
        }

        @include media-query(850px) {
            grid-template-columns: 1fr;

        }

    }

    &__report {
        @include box(none, 20px, 14px);
        border: 1px solid rgba($color: #DEDEDEB2, $alpha: 0.7);

        @include media-query(1280px) {
            @include box(none, 14px, 14px);
        }

        @include media-query(780px) {
            padding: 8px 8px;
        }



        &-row {
            @include flex(flex-start, center, $col-gap: 9px);

        }

        &-title {
            @include text-style($font-size-lg, $font-weight-bold, $text-color-dark);
            margin-bottom: 9px;

            @include media-query(780px) {
                margin-bottom: 4px
            }

            @include media-query(1280px) {

                @include text-style($font-size-md, $font-weight-bold, $text-color-dark);
            }
        }

        &-icon {

            border: 1px solid rgba($color: #DEDEDE, $alpha: 0.2);
            @include box(none, 8px 10px, 100px);

            img {
                width: 32px;
                height: 32px;

                @include media-query(1260px) {
                    width: 24px;
                    height: 24px;
                }

                @include media-query(780px) {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        &-percentage {
            @include flex($col-gap: 4px);

            img {
                width: 14px;
                height: 14px;
            }


            span {
                @include text-style($font-size-sm, $font-weight-normal, rgba($color: $text-color-dark, $alpha: 0.6));
            }
        }


        &-amount {

            @include flex(space-between);

            span {

                @include text-style($font-size-xxl, $font-weight-bold, $text-color-dark);
                letter-spacing: -2px;
                line-height: 100%;

                @include media-query(1280px) {
                    @include text-style($font-size-xl, $font-weight-bold, $text-color-dark);
                }

                @include media-query(780px) {
                    font-size: $font-size-lg;
                }


            }

            &--balance span {
                color: #FFFFFF;
            }

        }

        &-divider {
            width: 100%;
            border-bottom: 1px solid rgba($color: #0D163A, $alpha: 0.2);
            margin: 21.25px 0;

            @include media-query(1280px) {
                margin: 16px 0;
            }
        }

        &--balance {
            background-color: $secondary-color;
            color: $text-color-light;
        }

        &--balance &-title {
            color: $text-color-light;
        }

        &--balance &-percentage span {
            letter-spacing: 0px;
            color: rgba($color: $text-color-light, $alpha: 0.6);
        }
    }
}



// saving

.saving {

    padding: 16px;
    border-radius: 14px;
    background-color: #FFFFFF;

    @include media-query(780px) {
        padding: 11px;
    }

    &__header {
        @include flex($justify: space-between);

        h3 {
            @include text-style($font-size-xl, $font-weight-extrabold, $text-color-dark);

            @include media-query(780px) {
                font-size: $font-size-lg;
            }

            letter-spacing: -1px;
        }

        a {
            @include text-style($font-size-md, $font-weight-large, $secondary-color);
            line-height: 24px;

            @include media-query(780px) {
                line-height: 20px;
            }
        }

    }

    &__divider {
        width: 100%;
        border-bottom: 1px solid rgba($color: #0D163A, $alpha: 0.2);
        margin: 24px 0;
    }

    &__list {
        @include flex(flex-start, stretch, column, 16px, 0)
    }

    &__item {
        padding: 8px;
    }

    &__goal {

        @include flex(space-between);
        margin-bottom: 14px;

        &-title {
            @include text-style($font-size-md, $font-weight-large, $secondary-color);
            line-height: 24px;
        }

        &-target {


            @include text-style($font-size-xs, $font-weight-normal, rgba($color: $secondary-color, $alpha: 0.6));

        }

    }

    &__data {

        @include flex(space-between);
        margin-bottom: 12px;

        &-amount {

            @include text-style($font-size-xl, $font-weight-bold, $text-color-dark);
            letter-spacing: -1px;

            @include media-query(780px) {
                font-size: $font-size-lg;
            }

            sub {

                @include text-style($font-size-xs, $font-weight-bold, rgba($color: $secondary-color, $alpha: 0.5))
            }
        }

        &-percentage {

            @include text-style($font-size-lg, $font-weight-bold);
            letter-spacing: -1px;

            @include media-query(780px) {
                font-size: $font-size-md;
            }

            &--bali {
                color: $secondary-color;
            }

            &--gadget {
                color: $accent-color;
            }

            &--charity {
                color: $primary-color;
            }
        }
    }



    &__progressbar {
        width: 100%;
        height: 8px;

        appearance: none;

        &::-webkit-progress-bar {
            height: 100%;

            @include box(#DEDEDE, 0, 100px)
        }

        &--bali::-webkit-progress-value {
            height: 100%;
            @include box($secondary-color, 0, 100px)
        }

        &--gadget::-webkit-progress-value {
            height: 100%;
            @include box($accent-color, 0, 100px)
        }

        &--charity::-webkit-progress-value {
            height: 100%;
            @include box($primary-color, 0, 100px)
        }
    }
}

// transaction

.transaction {


    @include box(#FFFFFF, 16px, 14px);

    &__header {

        @include flex(space-between);
    }

    &__title {
        @include text-style($font-size-xl, $font-weight-extrabold, $text-color-dark);

        @include media-query(780px) {
            font-size: $font-size-lg;
        }

        letter-spacing: -1px;
    }

    &__seeall {
        @include text-style($font-size-md, $font-weight-large, $secondary-color);
        line-height: 24px;
        letter-spacing: 0px;

    }

    &__divider {
        width: 100%;
        border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.1);
        margin: 24px 0;

    }

    &__item {
        @include flex($align: center);
    }

    &__content {
        @include flex(flex-start, $align: center, $col-gap: 8px);
    }

    &__icon {
        width: 48px;
        height: 48px;
        @include box(rgba($color: #000000, $alpha: 0.2), 0, 50%);
        @include flex();

        @include media-query(780px) {
            width: 34px;
            height: 34px;
        }

        img {
            width: 24px;
            height: 24px;

            @include media-query(780px) {
                width: 18px;
                height: 18px;
            }
        }
    }

    &__category {
        @include text-style($font-size-lg, $font-weight-bold, $text-color-dark);
        line-height: 24px;
        margin-bottom: 4px;
        letter-spacing: -1px;

        @include media-query(780px) {
            font-size: $font-size-md;
        }

    }

    &__date {
        @include text-style($font-size-sm, $font-weight-bold, rgba($color: $secondary-color, $alpha: 0.5));
        letter-spacing: -1px;

        @include media-query(780px) {
            font-size: $font-size-xs;
        }

    }

    &__summary {
        text-align: center;
    }

    &__item {
        @include flex(space-between);

        &:not(:last-child) {
            margin-bottom: 28.75px;
        }

    }

    &__amount {
        @include text-style($font-size-lg, $font-weight-bold, $text-color-dark);
        line-height: 24px;

        @include media-query(780px) {
            font-size: $font-size-md;
        }

    }

    &__status {
        @include text-style($font-size-xs, $font-weight-bold, $primary-color);
        letter-spacing: -1px;
    }
}



// chartt


.chart {
    @include box(#FFFFFF, 20px, 14px);

    @include media-query(996px){
        padding: 13px
    }

    &__title {
        @include text-style($font-size-xl, $font-weight-extrabold, $text-color-dark);
        letter-spacing: -1px;
    }

    &__header {
        @include flex(space-between);
    }

    &__labels {
        @include flex(space-around, $col-gap: 32px);
        @include media-query(996px){
            @include flex($direction:column-reverse,$row-gap:15px)
        }
    }

    &__label {
        @include text-style($font-size-sm,$font-weight-large,$text-color-dark);
        span {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-right: 12px;

        }
        &-color--secondary {
            background-color: $secondary-color;
        }
    
        &-color--accent {
            background-color: $accent-color;
        }
    }

    &__select{
        border: 1px solid #DEDEDE;
        border-radius: 8px;
        padding: 8px;
        color: #7C7C7C;
        font-size: 14px;
    }
 
}

